<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price</title>

</head>
<body>
<form action="/second/total" autocomplete="off">
    <label for="mob">Mobile:</label>
    <input type="text" id="mobiles" name="mob" placeholder="Mobiles..."><br><br>
    <label for="lap">Laptop:</label>
    <input type="text" id="laptop" name="lap" placeholder="Laptop..."><br><br>
    <label for="key">Keyboard:</label>
    <input type="text" id="keyboard" name="key" placeholder="Keyboard..."><br><br>
    <label for="mou">Mouse:</label>
    <input type="text" id="mouse" name="mou" placeholder="Mouse..."><br><br>
    <input type="submit" value="save">
</form>
</body>
</html>