<!DOCTYPE html>
<html lang="en">
{% extends 'crudapp/main.html'%}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/secondapp/css/table.css' %}">
</head>
<body>
<table class="redTable">
    <tr>
        <th>Unique ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Email</th>
        <th>City</th>
    </tr>
    {% for emp in employee %}
    <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.pho}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.city}}</td>
        <td><a href="{% url 'updateuser' emp.id %}">EDIT</a></td>
        <td><a href="{% url 'deleteuser' emp.id %}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>

<a href="/crud/create"><button>add employee</button></a>
</body>
{% endblock %}
</html>