<!DOCTYPE html>
<html lang="en">
{% extends 'crudapp/main.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if page == 'login' %}
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter the username...."><br><br>
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter the password..."><br><br>
    <input type="submit" value="Login">
    <p>Are you signed up yet?</p>
    <a href="{% url 'signup' %}">Sign Up</a>



</form>
{% else %}
<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}<br><br>
    {{form.email.label}}
    {{form.email}}<br><br>
    {{form.password1.label}}
    {{form.password1}}<br><br>
    {{form.password2.label}}
    {{form.password2}}<br><br>
    <input type="submit" value="register">
    <p>Already Signed</p>
    <a href="{% url 'loginpage' %}">Login</a>

</form>
</body>
{% endif %}
{% endblock %}
</html>