<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/secondapp/css/table.css' %}">
</head>
<body>

<form method="GET" action="/model/search">
    <input type="text" id="search" name="search" placeholder="search here" value="{{request.get.SEARCH}}">
    <input type="submit" value="Search">
</form>
<table class="redTable">
    <tr>
        <th>Employee id</th>
        <th>Age</th>
        <th>name</th>
        <th>phone number</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{emp.empid}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.pho}}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>